* {
  box-sizing: border-box;
}
body {
 	font-family: Lato;
 	font-size: 18px;
 	color: black;

 }

 /** HEADER **/
 #header-nav {
 	background-color: grey;
 	border-radius: 0;
 }
.navbar-default .navbar-brand {
 	color:black;
 	font-size: 1.8em;
 }
#nav-list {
	text-align: center;
	color: white;	
	background-color: black;
}
#menu-content {
	background-color: grey;
	color: black;
	height: 1000px;
}